@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre&display=swap'); /* font-family: 'Gemunu Libre', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap'); /* font-family: 'Fira Sans', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap'); /* font-family: 'Nanum Gothic', sans-serif; */
body{
    margin: 0;
    padding: 0;
}
ul{
    margin: 0;
    padding: 0;
}
li{
    list-style-type: none;
}
p{
    margin: 0;
    padding: 0;
}
h1, h2, h3{
    margin: 0;
    padding: 0;
}
/* **************** HEADER **************** */
#imgprin{
    background: url(./medias/code_informatique.jpg) no-repeat fixed 50% 50%;
    background-size: cover;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}
header>div>h1{
    font-family: 'Gemunu Libre', sans-serif;
    color: #318D99;
    font-size: 5em;
    text-shadow: 2px 2px 0 #cdf2ff, 2px -2px 0 #cdf2ff, -2px 2px 0 #cdf2ff, -2px -2px 0 #cdf2ff, 2px 0px 0 #cdf2ff, 0px 2px 0 #cdf2ff, -2px 0px 0 #cdf2ff, 0px -2px 0 #cdf2ff;
}
/* **************** BODY **************** */
.container{
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin: 0;
    padding: 0;
}
/* **************** LEFTPART **************** */
#leftpart{
    grid-column: 1fr;
    background-color: #318D99;
    height: auto;
    padding: 10px;
}
#leftpart h2#name{
    font-family: 'Gemunu Libre', sans-serif;
    font-size: 4em;
    text-align: center;
    padding: 40px 10px;
}
#leftpart h2{
    color: white;
    text-transform: uppercase;
    font-family: 'Fira Sans', sans-serif;
    font-size: 2.5em;
    padding: 10px 15px;
}
/* ***CONTACT*** */
#leftpart div#contact{
    padding: 10px 0px 50px 0px;
}
#leftpart li.infoperso{
    color: white;
    font-family: 'Nanum Gothic', sans-serif;
    padding: 2px 0px 2px 15px;
    font-size: 1em;
}
#contact li.infoperso a:link{
    color: white;
    text-decoration: none;
}
#contact li.infoperso a:visited{
    color: white;
}
#contact li.infoperso a:hover{
    color: #ce9993;
    font-size: 1.2em;
    transition: 0.5s ease-in-out;
}
/* ***OBJECTIFS*** */
#leftpart div#objectifs{
    padding: 0 0 50px 0;
}
#leftpart p{
    color: white;
    font-family: 'Nanum Gothic', sans-serif;
    padding: 10px 15px 0px 15px;
    font-size: 1em;
}
/* ***COMPETENCES*** */
#leftpart div#competences{
    margin: 0 0 50px 0;
}
div.container_competence{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 40px 1fr 40px 90px 40px 90px;
    margin: 10px 0 0 0;
}
div#competences h3{
    font-family: 'Fira Sans', sans-serif;
    color: white;
    font-size: 1.5em;
    text-align: center;
    border-top: solid white 1px;
    padding: 5px;
    margin: 0 20%;
}
div#competences h3#frontend{
    grid-column: 1 / 3;
}
div#competences h3#backend{
    grid-column: 1 / 2;
}
div#competences h3#cms{
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}
div#competences h3#tools{
    grid-column: 1 / 3;
    grid-row: 5 / 6;
}
div.container_competence ul.frontend{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column: 1 / 3;
}
div.container_competence ul.backend, div.container_competence ul.cms{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}
div.container_competence ul.tools{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-column: 1 / 3;
}
div.container_competence li#logo_competence{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}
div.container_competence li#logo_competence img{
    height: 50px;
}  
/* ***BOUTON*** */
.cvpdf a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px;
    margin: 0 10% 10px 10%;
    height: 50px;
    width: auto;
    border-radius: 20px;
}
.cvpdf a{
    font-family: 'Fira Sans', sans-serif;
    color: #cdf2ff;
    font-size: 1em;
    text-transform: uppercase;
    font-weight: bold;
    border: solid #cdf2ff 3px;
    transition: 0.3s ease-in;
}
.cvpdf a:hover{
    color: #318D99;
    background-color: #cdf2ff;
    font-size: 1.1em;
    transition: 0.3s ease-in-out;
}
/* **************** RIGHTPART **************** */
#rightpart{
    grid-column: 2fr;
    background-color: #E7EAE7;
    height: auto;
    padding: 10px;
}
#rightpart h2{
    text-transform: uppercase;
    font-family: 'Fira Sans', sans-serif;
    color: #155D42;
    font-size: 2.5em;
    padding: 20px;
}
#rightpart h3{
    text-transform: uppercase;
    font-family: 'Fira Sans', sans-serif;
    color: black;
    font-size: 1.5em;
    padding: 0 20px;
}
#rightpart .exppro p{
    font-family: 'Nanum Gothic', sans-serif;
    padding: 5px 20px;
}
#rightpart .formations p{
    font-family: 'Nanum Gothic', sans-serif;
    padding: 2px 20px 40px 20px;
}
#rightpart .exppro li{
    list-style-type: circle;
}
#rightpart .exppro ul{
    list-style-type: circle;
    padding: 1px 40px;
}
#rightpart ul{
    font-family: 'Nanum Gothic', sans-serif;
    padding: 1px 20px;
}
/* **************** FOOTER **************** */
footer{
    background-color: #98CCB9;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:  0px 0px 20px 20px;
}
#copyright{
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 1.2em;
}
@media screen and (max-width: 750px) {
    .container{
        display: grid;
        grid-template-columns: 1fr;
    }
    #leftpart{
        grid-column: 1fr;
        display: flex;
        flex-flow:row wrap;
        justify-content: space-around;
    }
    #contact li, #contact h2, #competences h2, #competences li, #autres h2, #autres li, #objectifs h2, #objectifs p{
        display: flex;
        justify-content: center;
    }
    #contact li, #competences li, #autres li{
        padding: 0;
    }
    #contact ul, #competences ul, #autres ul, #objectifs p{
        padding: 10px 0;
    }
    #contact, #competences, #autres, #objectifs{
        padding: 10px;
        width: 300px;
    }
    .cvpdf{
        margin: 10px auto;
        height: auto;
        width: 80%;
    }
    .cvpdf a{
        margin: auto;
    }
    #rightpart{
        grid-column: 1fr;
    }
    #rightpart .hobbis ul{
        padding: 0 20px 10px 20px;
    }
}
@media screen and (max-width: 550px) {
    header>div>h1{
        font-size: 4em;
    }
    #rightpart h2{
        font-size: 1.5em;
    }
    #rightpart h3{
        font-size: 1.2em;
    }
    #rightpart .exppro p{
        font-size: 0.9em;
    }
    #rightpart .formations p{
        font-size: 0.9em;
    }
    #rightpart .exppro li{
        font-size: 0.9em;
    }
    #rightpart .lang li, .hobbis li{
        font-size: 0.9em;
    }
    #rightpart .hobbis ul{
        padding: 0 20px 10px 20px;
    }
    #copyright{
        font-size: 0.9em;
    }
}
@media screen and (max-width: 430px){
    header>div>h1{
        font-size: 3em;
    }
}